<div class="container-fluid">
    <h2 class="white-text center">Member's Login</h2>
    <div class="form-container-signin">
        <div class="row">
            <form class="col s12 center" name="signinForm"  ng-submit="loginCtrl._login()">
                <div class="row">

                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" ng-model="loginCtrl.email" required>
                        <label for="email">Email:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" ng-model="loginCtrl.password" required>
                        <label for="password">Password:</label>
                    </div>
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="signinForm.$invalid">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </form>
        </div>

    </div>



</div>